page-selector {

	ion-content{
		text-align: center;
	}

	.button{
		width: 75%;
   		height: 45%;
    	margin-bottom: 6%;
	}
	#boton1{
		background-color: green;
	}
	#boton2{
		background-color:#427feb;
	}
}
