page-selector {

	ion-content{
		text-align: center;
	}

	.button{
		width: 75%;
   		height: 250px;
    	
	}
	#boton1{
		background-color: green;
		margin-bottom: 15px;
	}
	#boton2{
		background-color:#427feb;
	}
}
