page-comidas {
    .carta{
        background-color: lightskyblue;
    }
    .tomar{
        display:flex;
        justify-content: space-between;
    }

    .verd{
        background-color: #66ff99;
    }

    .blanc{
        background-color: white;
    }
}
